/*PASOS PROCES*/
.process .btn-success {
      border-color: #a2a298 !important;
  background-color: #a2a298 !important;
}

.stepwizard-step p {
    margin-top: 10px;    
}

.process-row {
    display: table-row;
}

.process {
    display: table;     
    width: 100%;
    position: relative;
    margin-top:50px;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-row:before {
    top: 40px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.process-step {    
    display: table-cell;
    text-align: center;
    position: relative;
	color:#000;
}
.process-step .fa-3x {
  font-size: 3em;
  line-height: normal;
} 

.process-step h2 {
	color:#000;
	font-size: 20px;
	margin-bottom: 0px;

}

.process-step p {
	  color: #a2a298;
    font-size: 12px;
    margin: 0px;
}

.process-step .btn-default {
  color: #a2a298;
	
}

.btn-circle {
    width: 66px;
    height: 66px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
	 border: solid 1px #a2a298 !important;
}

.order-notes textarea {
    height: 40px;
}
/*END PASOS PROCES*/


h2 {
    color: #a2a298;
}

h2 {
    font-size: 18px;
    line-height: 37px;
    letter-spacing: -1px;
}
.icosF_Pago .fa-3x {
    font-size: 3em;
}
.marginBottom {
    margin-bottom: 25px;
}
#naviPago {
    width: 380px;
    list-style: none;
    padding: 10px 0px 10px 0px;
    height: 35px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#naviPago li {
    padding: 0;
    float: left;
}
a:hover {
    text-decoration: none;
    color: #000;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.fa-6x{ font-size: 22px; color: #a2a298;}

.paso3 {
    background-color: #FFF;
    min-height: 80px;
    margin-bottom: 15px;
    padding: 40px;
}

.paddingBottom {
    padding-bottom: 40px;
}
.paddingTop {
    padding-Top: 25px;
}
.marginTopX {
    margin-top: 15px;
}

/*------SECCION CESTA------*/
.customButtonCar{ background-color:rgba(255,54,54,1.00); color:#FFF;}
.customButtonCar:hover{ background-color:rgba(199,0,3,1.00); color:#FFF;}

.borderRightN{border-right:solid 1px #f0f0f0;}

.regalo { font-size: 12px !important; margin: 0; padding: 0; color: #a2a298 !important; line-height: 16px;}
.regalo:hover{ color: #000 !important;}

.textura_Gris {
    background-color: #eeeeee;
}

.css-color-grisIco{ color: #a2a298 !important;}

::placeholder { color: #A5A5A5;  font-size: 11px;}
::-webkit-input-placeholder{
color:#A5A5A5;font-size: 11px;
}
:-moz-placeholder{ /* Firefox 18- */
color:#A5A5A5;font-size: 11px;
}
::-moz-placeholder{ /* Firefox 19+ */
color:#A5A5A5;font-size: 11px;
}
:-ms-input-placeholder{
color:#A5A5A5;font-size: 11px;
}
.itemCart{
	background-color:#FFF;
	min-height:80px;
	margin-bottom:15px;
	padding:10px;
	}
.ResumenCart{
	background-color:#FFF;
	min-height:160px;
	padding:20px;
	position:relative;
	}
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
.fa-1x {
    font-size: 1.6em;
}
.absoluteIco{
	position:absolute;
	left:10px;
	top:10px;
	z-index:2000;
	width:25px;
	height:25px;
	}
.cntCart{ padding:20px;}
.txtPortes{
	width:40%;
	float:left;
	}
.btn-warning {
    border-color: #c4c4bc;
    background-color: #c4c4bc;
    color: #fff;
}
.btn-warning:hover{
    border-color: #222222;
    background-color: #222222;
    color: #fff;
}
.buttonPago{
	width:60%;
	float: right;
	text-align:right;
}
.buttonSeguir{
	width:40%;
	float:left;
	font-size:12px;
}
.buttonSeguir .btn{
	font-size:12px;
}
.camposCart{
	width:45%;
	height: auto;
	float:left;
	text-align:right;
	font-size:14px;
	line-height:20px;
	color:#A5A5A5;}
.col-md-4 h3 {
    color: #000;
	font-size: 18px;
}
.importesCart{
	width:45%;
	height: auto;
	float:right;
	text-align:left;
	font-size:15px;
	line-height:20px;
	color:#000;}
.hr{
	margin-top: 20px;
  	margin-bottom: 20px;
  	border: 0;
  	border-top: 1px solid #eee;
  	width:100%;
  	float:left;
  }
.totalCart{
	width:45%;
	float:left;
	text-align:right;
	font-size:18px;
	color:#A5A5A5;
	}
.pvpCart{
	width:45%;
	float:right;
	text-align:left;
	font-size:20px;
	color:#000;
	}
.pvpCart h2{font-size:20px; }
.calculoPortes{
	background-color:#FFF;
	min-height:100px;
	padding:20px;
	margin-bottom:15px;
	position:relative;
	}
#cesta .form-control {
	width:100%;
  	border: solid 1px #e6e6e6;
	font-size:12px;
}
.calculoPortes p{ font-size:12px;}

.cantidadCart label {
  font-size:12px;
  margin-bottom: 0px;
  font-weight: 700;
}
.itemCart .form-control {
  display: block;
  width: 100%;
  height: 25px;
  padding: 3px 6px;
  font-size: 12px;
}
.cantidadCart .form-group {
  margin-bottom:8px;
}
.borrarC{
	width:25%;
	float:left;
	position:relative;
	height:100%;
	text-align:center;
	}
.borrarC, .btn span.glyphicon {    			
	opacity: 1;				
}
.borrarCart{
	font-size:18px;
	color:#FF0004;
	margin-top:40px;
	}

.icosF_Pago{
	width:33%;
	float:left; 
	border-right:solid 1px #ededed;
	margin:5px 0px 5px 0px;
	text-align:center;
	}
.icosF_Pago .fa-3x{
	font-size:3em;
	}
#naviPago {
  width: 380px;
  list-style: none;
  padding: 10px 0px 10px 0px;
  height: 35px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#naviPago li {
  padding: 0;
  float: left;
}
#naviPago li a {
  display: block;
  height: 35px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 14px;
  float: left;
  color: #999;
}
#naviPago li a:hover {
  color: #000;
}

.absoluteIco{
	position:absolute;
	left:10px;
	top:10px;
	z-index:2000;
	width:25px;
	height:25px;
	}
	
/*PERSONALIZACION RADIOS CESTA*/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
	text-align:center;
}


.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.radio p { font-size:14px;}

.radio, .checkbox {
  padding-left: 0px;
}
	/*PERSONALIZACION RADIOS CESTA*/
	
	
.txtARcliente p{ color:#fff; font-size:14px; line-height:14px;}

	
	@media only screen  
and (min-width : 320px)  
and (max-width : 481px) {
.bottommd{ margin-bottom:70px;}

}
@media (max-width:390px){
	h4{ font-size:16px;}
}
/*--
	
@media (max-width:992px){
	#titularOculto{ display: none;}
}
/*------END SECCION CESTA------*/